.container {
    margin: 0 auto;
    max-width: 50em;
}

.color_nav_bar{
    color: #1b1e21;
    background: #F8F8F8;
    text-align: right;
}
.background_header{
    background: -webkit-linear-gradient(#aee7ff, #59c1ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aee7ff, #59c1ee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aee7ff, #59c1ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#aee7ff, #59c1ee); /* Standard syntax */
}
.big_letter{
    font-size: 6em;
    color: #2C4B9F ;
}
.font_1{
    font-family: Montserrat;
    font-size: 1.5em;
    color: black;
    font-weight: bold;

}

.font_2{
    font-family: Montserrat;
    font-size: 1.2em;
    color: black;
    font-weight: normal;

}

.font_3{
    font-family: Montserrat;
    font-size: 0.9em;
    color: black;
    font-weight: normal;

}


.col-2 {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
