@media screen and (max-width: 480px) {
    .logo_image{
        align-items: center;
        text-align: center;

    }

    
    
}

@media screen 
 and (max-device-width: 480px) 
 and (min-device-width: 0px) 
{ 
    #imagen_pc_movil_urban{
        display: inline;
        visibility: visible;
    }
    
    #imagen_pc_web_urban{
        display: none;
    }
    
    #info_urban{
        display: none;
    }
    
    #carouselExampleIndicators{
        display: inline;
        visibility: visible;
    }
    
    #cards_mobile{
        display: none;
    }

    .align_econt{
        text-align: center;
    }
    .texto_screen{
        display: none;
    }
    .footer_screen{
        display:none;
    }
    .cuadrado_contacto{
        padding: 5%;
        width: 100%;
        height:95%;

        background-color: #ffffff;
        bborder-radius: 11px 11px 11px 11px;
        -moz-border-radius: 11px 11px 11px 11px;
        -webkit-border-radius: 11px 11px 11px 11px;


    }

    
}

@media screen 
 and (max-device-width: 10000px) 
 and (min-device-width: 481px) 
{ 
    #imagen_pc_movil_urban{
        display: none;
    }
    
     #imagen_pc_web_urban{
        display: inline;
        visibility: visible;
    }
    
    #info_urban{
        display: inline;
        visibility: visible;
    }
    
    #carouselExampleIndicators{
        display: none;
    }
    
    .carouselExampleIndicators{
        display: none;
    }
    
    #cards_mobile{
        display: inline;
        visibility: visible;
    }
    .align_econt{
        text-align: right;
    }

    .texto_movil{
        display: none;
    }
    .footer_movil{
        display: none;
    }
    .cuadrado_contacto{
        padding: 5%;
        width: 130%;
        height:75%;

        background-color: #ffffff;
        bborder-radius: 11px 11px 11px 11px;
        -moz-border-radius: 11px 11px 11px 11px;
        -webkit-border-radius: 11px 11px 11px 11px;


    }


}

.agendar{
    text-align: center;
    align-items: center;
    align-content: center;

}

.egon {
    text-align: center;
    align-items: center;
    align-content: center;

}
.social_image {
text-align: center;

}
.container {
    margin: 0 auto;
    max-width: 75%;
}

.container_header {
    margin: 0 auto;
    padding-left: 38%;
    padding-right: 0%;
    text-align: left;
}

.container_header_2 {
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
}

.container_footer {

    padding-left: 5%;
    padding-right: 5%;
}

.color_nav_bar{
    color: #1b1e21;
    background: #F8F8F8;
    text-align: right;
}


.background_header{
    background: -webkit-linear-gradient(#aee7ff, #59c1ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aee7ff, #59c1ee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aee7ff, #59c1ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#aee7ff, #59c1ee); /* Standard syntax */
}

.background_clubs{
    background: -webkit-linear-gradient(#eaf9f9, #2fdfe5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaf9f9, #2fdfe5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaf9f9, #2fdfe5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaf9f9, #2fdfe5); /* Standard syntax */
}
.background_cost{
    background: -webkit-linear-gradient(#FDEBBB, #AF9243); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FDEBBB, #AF9243); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FDEBBB, #AF9243); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FDEBBB, #AF9243); /* Standard syntax */
}
.background_econt{
    background: -webkit-linear-gradient(#FFC8DD, #E9719E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFC8DD, #E9719E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFC8DD, #E9719E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFC8DD, #E9719E); /* Standard syntax */
}
.background_fm{
    background: -webkit-linear-gradient(#BFF2FF, #0CC3F4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#BFF2FF, #0CC3F4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#BFF2FF, #0CC3F4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#BFF2FF, #0CC3F4); /* Standard syntax */
}
.background_gestion{
    background: -webkit-linear-gradient(#FFE4C7, #FFBF78); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFE4C7, #FFBF78); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFE4C7, #FFBF78); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFE4C7, #FFBF78); /* Standard syntax */
}
.background_vianda{
    background: -webkit-linear-gradient(#FFD1CC, #F87365); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFD1CC, #F87365); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFD1CC, #F87365); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFD1CC, #F87365); /* Standard syntax */
}
.big_letter{
    font-size: 500%;
    color: #2C4B9F ;
}

.big_letter_clubs{
    font-size: 500%;
    color: #4DBFC3 ;
}
.big_letter_cost{
    font-size: 500%;
    color: #AF9243 ;
}
.big_letter_econt{
    font-size: 500%;
    color: #CE135A ;
}
.big_letter_fm{
    font-size: 500%;
    color: #0CC3F4 ;
}
.big_letter_gestion{
    font-size: 500%;
    color: #F7A041 ;
}
.big_letter_vianda{
    font-size: 500%;
    color: #F4240F ;
}

.correo{
    color: black;
}

.font_1{
    font-family: Montserrat;
    font-size: 125%;
    color: black;
    font-weight: bold;
}
.font_1_vianda{
    font-family: Montserrat;
    font-size: 150%;
    color: #D05C02;
    font-weight: bold;
}


.font_2{
    font-family: Montserrat;
    font-size: 120%;
    color: black;
    font-weight: normal;

}
.font_2_vianda{
    font-family: Montserrat;
    font-size: 80%;
    color: black;
    font-weight: normal;

}

.font_3{
    font-family: Montserrat;
    font-size: 100%;
    color: black;
    font-weight: normal;

}

.font_4{
    font-family: Montserrat;
    font-size: 100%;
    color: black;
    font-weight: bold;

}
.font_4_clubs{
    font-family: Montserrat;
    font-size: 80%;
    color: black;
    font-weight: bold;

}


.font_5{
    font-family: Montserrat;
    font-size: 0.9em;
    color: white;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;


}
.font_6{
    font-family: Montserrat;
    font-size: 1.5em;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;


}

.font_7{
    font-family: Montserrat;
    font-size: 200%;
    color: black;
    font-weight: bold;

}
.font_8{
    font-family: Montserrat;
    font-size: 1.6em;
    color: white;
    text-align: left;
    font-weight: normal;

}
.font_8_1{
    font-family: Montserrat;
    font-size: 2em;
    color: white;
    text-align: left;
    font-weight: bold;

}

.font_9{
    font-family: Montserrat;
    font-size: 1.4em;
    color: white;
    text-align: right;
    font-weight: bold;

}
.font_9_2{
    font-family: Montserrat;
    font-size: 1.4em;
    color: white;
    text-align: center;
    font-weight: bold;

}
.font_10{
    font-family: Montserrat;
    font-size: 80%;
    color: #A0A3AD;
    text-align: center;
    font-weight: bold;

}
.font_10_2{
    font-family: Montserrat;
    font-size: 70%;
    color: #000000;
    text-align: center;
    font-weight: bold;

}

.font_11{
    font-family: Montserrat;
    font-size: 2.6em;
    color: black;
    font-weight: 800;
}

.font_12{
    font-family: Montserrat;
    font-size: 0.9em;
    color: black;
    font-weight: 400;
}

.font_13{
    font-family: Montserrat;
    font-size: 2em;
    color: black;
    font-weight: 800;
}

.font_14{
    font-family: Montserrat;
    font-size: 1.5em;
    color: black;
    font-weight: 400;
}

.font_15{
    font-family: Montserrat;
    font-size: 2.6em;
    color: white;
    font-weight: 800;
}

.font_16{
    font-family: Montserrat;
    font-size: 0.7em;
    color: #ffffff;
    font-weight: 800;
}

.font_17{
    font-family: Montserrat;
    font-size: 2.5em;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 1px #aab1b7;
}

.font_18{
    font-family: Montserrat;
    font-size: 1.5em;
    color: dodgerblue;
    font-weight: 400;
}
.font_19{
    font-family: Montserrat;
    font-size: 100%;
    color: black;
    font-weight: bold;
}

.image_icon{
    display:flex;
    margin:0 auto;
    padding-bottom: 10px;
}

.image_icon_footer{
    display:flex;
    margin:0 auto;
    align-items: center;
    padding-bottom: 10px;
}

.cuadrado{
    padding:5px;
    width: 100%;
    height:13em;
    background-color: #0F2F48;
    bborder-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    color: white;
}
.cuadrado_clubs{
    padding:5px;
    width: 100%;
    height:100%;

    background-color: #79AA45;
    bborder-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    color: white;
}

.cuadrado_vianda{
    padding:10px;
    width:100%;
    height:100%;

    background-color: #D05C02;
    bborder-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    color: white;
}

.img_tarjetas{
    position:relative;
}

.publicidad{

    max-width: 102%;
    background: #F5F5F5;

}

.boton_publicidad{
    float: right;
    width:10em;
    height:4em;
    background: -webkit-linear-gradient(#333333, #252525); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333, #252525); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333, #252525); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333, #252525); /* Standard syntax */
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    color: white;
    font-weight: bold;
    border: 0px solid #000000;

}


footer{
    background: #252525;

    bottom: 0;


}

.card{
    border:0;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 0px; /* Added */
}

.row-bottom-margin { 
    margin-bottom:0px;
    margin-top:0px;
}

.my_banner_row{
    background-image: url("../img/banner2.png");
    height: 100%;
    width: 100%;

}

.my_banner2_row {
    background-image: url("../img/indexfoot.png");
    height: 100%;
    width: 100%;

}

.degradado_contacto{
    background: rgb(0,162,255);
    background: linear-gradient(180deg, rgba(0,162,255,0.47290791316526615) 0%, rgba(0,3,36,0) 34%);
}

.font_20 {
    font-size: 50%;
    font-weight: normal;

}

.button_info {
    text-align: center;
    background: black;
    color: white;
    font-size: 60%;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 90%;
    height: 2em;
}

